<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="margin-top: 4%">
  <h2>Activity History</h2>
  <p>In this table, you can see all the last 70 Activities.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Pertaining to</th>
        <th>Initials</th>
        <th>Transaction</th>
        <th>New Overall Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active" *ngFor = "let x of history">
        <td>{{x.time * 1000 | date}} {{x.time * 1000 | date:"HH:mm:ss"}}</td>
        <td>{{x.pertain}}</td>
        <td>{{x.status}}</td>
        <td>{{x.transaction | currency}}</td>
        <td>{{x.new_balance | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>