<!DOCTYPE html>
<html lang="en">
<head>
  <title>Acc</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<hr />
<body id="body">
<div class="container">
    <!-- <form>
        <input type="number" name="online" [(ngModel)]="online" placeholder="$$">
        <input type="submit" name="drop" value="Drop">
      </form><br /> -->
    <button style="background-color: green; float: left; color: white; margin-right: 40%; height: 60%;">{{overall | currency}} </button>
    <form style="float: left;" (submit)="drop()">
        Drop here-->
      <input style="border: solid" type="number" name="online" [(ngModel)]="drop_model" placeholder="$$">
      <input type="submit" name="drop" value="Drop">
  </form><br />
  <h2>Acc</h2>
  <form class="form-inline" (submit)="addEmployee()">
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="Enter First" name="first" [(ngModel)]="model.firstname">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Enter Last" name="last" [(ngModel)]="model.lastname">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="amount" placeholder="Enter#" name="amount" [(ngModel)]="model.phone">
        </div>
    <!-- <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div> -->
    <button type="submit" class="btn btn-success">Register</button>
  </form> <hr />    
  

     
        <select *ngIf="hubi" class="btn-warning" name="value" [(ngModel)]="value">
          <option>All</option>
          <option>Nagative Balance</option>
        </select>
  <form>
  <input *ngIf="hubi" type="number" name="phone" id="search" [(ngModel)]="phone" placeholder="search with phone.."></form>    
  <span *ngIf="hubi" style="float: right; color: green; margin-right: 20%">Total: {{all | amFil:value  | currency}}</span>
  <table *ngIf="hubi" class="table table-striped" style="width: 95%;">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone#</th>
        <th>Balance</th>
        <th id="icon">Delete</th>
        <th>Update</th>
        <th id="right">Transaction</th>
        <th>Initials</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of amano | filter:phone | amfilter:value">
        <td>{{x.firstname}}</td>
        <td>{{x.lastname}}</td>
        <td>{{x.phone}}</td>
        <td *ngIf="x.r_balance >= 0">{{x.r_balance  | currency}}</td>
        <td *ngIf="x.r_balance < 0" style="color: red">{{x.r_balance  | currency}}</td>
        <td>
          <button class="btn-danger" (click)="delete(x.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
        <td>
            <button (click)="pop_edit(x.id)" class="btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </td>
        <td>
            <button (click)="pops(x.id)" class="btn-primary">Deposit/Withdraw</button>
        </td>
        <td>{{x.initials}}</td>
      </tr>
    </tbody>
  </table>
  <div id="myEdit" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <button (click)="pop_close_edit()" class="close">&times;</button>
      <form id="up">
        <label><b>First Name</b></label><br />
        <input style="width: 100%" type="text" [(ngModel)]="temp.firstname" name="uname1" required><br />
    
        <label><b>Last Name</b></label><br />
        <input style="width: 100%" type="text" [(ngModel)]="temp.lastname" name="uname2" required><br />
        <label><b>Phone</b></label><br />
        <input style="width: 100%" type="text" [(ngModel)]="temp.phone" name="uname3" required><br />
      <br />
            <button (click)="updateEmployee()" type="submit" class="btn btn-success">Update</button>
    </form>
    </div>
  
  </div>

  <div id="myEdit2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <button (click)="pop_close()" class="close">&times;</button>
      <!DOCTYPE html>
      <html lang="en">
      <body>
      <!-- <style>
        #form{
          width: 400px;
          float: left;
        }
        .table {
          width: auto;
          float: left;
          margin-left: 100px;
        }
        #name {
          margin-left: 200px;
          color: darkblue;
        }
      </style> -->
      <div style="text-align: center; padding-right: 0%; padding-left: 0%; width: 100%" class="container">
        <div id="name">
          <h3>{{firstname}} {{lastname}}</h3>
       </div>
        <form id="form">

            <label for="email">Description</label>
            <input type="text" class="form-control" id="disc" placeholder="Enter Description" name="description" [(ngModel)]="models.des">


            <label for="pwd">Amount:</label>
            <input type="amount" class="form-control" id="amount" placeholder="Enter $$" name="amount" [(ngModel)]="models.amount"><br />

          <!-- <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div> -->
          <button type="submit" class="btn btn-success" (click)="add()">Deposit</button>
          <button type="submit" class="btn btn-danger" (click)="withdraw()">Withdraw</button>
        </form>
        <!-- filter by:<input type="text" [(ngModel)]="magac"> -->
      <table class="table table-striped">
           <thead>
             <tr>
               <th>Date</th>
               <th>Description</th>
               <th>Debit</th>
               <th>Credit</th>
               <th>Balance</th>
               <th>Initials</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let x of amanoB">
               <td>{{x.date * 1000 | date}}</td>
               <td>{{x.description}}</td>
               <td>{{x.debit  | currency}}</td>
               <td>{{x.deposit  | currency}}</td>
               <td>{{x.idbalance | currency}}</td>
               <td>{{x.initials}}</td>
             </tr>
           </tbody>
         </table>
        </div>
      </body>
      </html>
    </div>
  
  </div>
</div>

</body>
</html>


